// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-white:#fff;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//RESPONSIVE BREAKPOINTS

$bp-3xl: 115em;  //1850px -> 1850/16=115
$bp-2xl: 86.25em; //1380px
$bp-xl: 75em; //1200px -> 1200/16=75
$bp-3m: 62.5em; //1000px
$bp-2m:50em; // 800px
$bp-m: 37.5em; //600px 