

<div class="header">

    <img src="../../../assets/img/logo.png" alt="Nexter Logo" class="header__logo">
    
    <h3 class="heading-3">Your own home:</h3>
    <h1 class="heading-1">The ultimate personal freedon</h1>
    <button class="btn header__btn">View our properties</button>
    <div class="header__seenon-text">Seen on</div>
    <div class="header__seenon-logos">
        <img src="../../../assets/img/logo-bbc.png" alt="">
        <img src="../../../assets/img/logo-forbes.png" alt="">
        <img src="../../../assets/img/logo-techcrunch.png" alt="">
        <img src="../../../assets/img/logo-bi.png" alt="">
    </div>
</div>

