@import "../../../assets/scss/base";



.header {

    padding: 8rem;
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem,min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);  //to make it adaptative
    grid-row-gap: 1.5rem;

    justify-content: center;

    @media only screen and (max-width: $bp-m) {
        padding: 5rem;
    }

    

    &__logo{
        height: 3rem;
        align-self: flex-start;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text{
        font-size: 1.6rem;
        color: $color-grey-light-2;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;

            background-color: currentColor;

        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {

            /* max-height and max-width limitate the max width and height but it can be less*/
            max-height: 2.5rem;  
            max-width: 100%;  
            object-fit: contain;

            filter: brightness(70%); //to make the image to bright less
        }
    }

   
}



