

<div class="container">

  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="header">
    <app-header></app-header>
  </div>

  <div class="realtors">
    <app-realtors></app-realtors>
  </div>
    
  <section class="features">
    <app-features></app-features>
  </section>
    
  <div class="story__pictures">
    <app-story-pictures></app-story-pictures>
  </div>

  <div class="story__content">
    <app-story-content></app-story-content>
  </div>
  
  <div class="homes">
    <app-homes></app-homes>

  </div>

  <div class="gallery">
    <app-gallery></app-gallery>

  </div>

  <div class="footer">
    <app-footer></app-footer>

  </div>
      

      

      

      

</div>

<router-outlet></router-outlet>
