@import "../../../assets/scss/base";


.story__content1 {
    padding: 6rem 5vw;
    width: 100%;
    height: 100%;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/


    //this lines are similar to the ones above
    display: grid;
    grid-template-rows: 1fr repeat(4,1fr) 1fr;
    align-items: center;
    justify-items: start;


   

    &--text{
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }



}

